.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 2px 2px rgb(209, 208, 208);
}

.titleWrap {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.titleList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleList:nth-child(1) {
  flex: 1 0 45%;
}
.titleList:nth-child(2) {
  flex: 2 0 30%;
  justify-content: center;
}

.titleList:nth-child(3) {
  flex: 1 0 25%;
}

.titleListItem {
  flex: 1 0 33%;
  text-align: center;
}

.indexContainer {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.indexLable {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20%;
}

.pagination {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@media (max-width: 1200px) {
  .indexContainer {
    flex-direction: column-reverse;
    gap: 2rem 0;
  }
  .indexLable {
    position: static;
    transform: translate(0, 0);
  }

  .pagination {
    position: static;
    transform: translate(0, 0);
  }
}
